*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#key{
  width: 20em;
  height: 50em;
  background: cornflowerblue;
  border: 2px outset black;
  box-shadow: 7px, 4px, 7px hotpink:
  margin:  100px;
  padding:  50px;
}
#hlar{
  width: 100ex;
  height: 70ex;
  background: #FFBBAA;
  border: 2px outset #FABBAA;
  box-shadow: -7px, -4px, 7px hotpink:
  margin:  100px;
  padding:  50px;
}
#hcor{
  width: 10ch;
  height: 100ch;
  background: #FAB;
  border: 2px outset black;
  box-shadow: -7px, -4px, 7px hotpink:
  margin:  100px;
  padding:  50px;
}
#rgb{
  width: 100%;
  height: 40%;
  background: rgb(red, green, blue);
  border: 2px outset black;
  box-shadow: -7px, -4px, 7px hotpink:
  margin:  100px;
  padding:  50px;
}
#rgba{
  width: 100cm;
  height: 100cm;
  background: rgba(10, 20, 30, 50);
  border: 2px outset black;
  box-shadow: -7px, -4px, 7px hotpink:
  margin:  100px;
  padding:  50px;
}
#degradado{
  width: 100mm;
  height: 100mm;
  background: radial-gradient(circle, rgba(219,69,250,1) 18%, rgba(219,111,149,1) 33%, rgba(172,105,158,1) 87%);
  border: 2px outset black;
  box-shadow: -7px, -4px, 7px hotpink:
  margin:  100px;
  padding:  50px;
}
#hsl{
  width: 100in;
  height: 100in;
  background: hsl(16, 200%, 300%);
  border: 2px outset black;
  box-shadow: -7px, -4px, 7px hotpink:
  margin:  100px;
  padding:  50px;
}
#hsla{
  width: 100pc;
  height: 100pc;
  background: hsla(10, 20%, 30%, 40%);
  border: 2px outset black;
  box-shadow: -7px, -4px, 7px hotpink:
  margin:  100px;
  padding:  50px;
}